<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GameBotGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <GameBotGUI.Properties.Settings>
            <setting name="defaultNodeName" serializeAs="String">
                <value>(no name)</value>
            </setting>
            <setting name="defaultPriorityLevel" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="defaultNodeRuns" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="defaultVOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="defaultHOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="defaultMouseSpeed" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="defaultNodeEntropy" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="defaultForcedPause" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="defaultEnabled" serializeAs="String">
                <value>Indeterminate</value>
            </setting>
            <setting name="profileFileExtension" serializeAs="String">
                <value>gbgprof</value>
            </setting>
        </GameBotGUI.Properties.Settings>
    </applicationSettings>
</configuration>